<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="sidebar" class="sidebar">
  <ul>
    <li><a th:href="@{/projects}">專案列表</a></li>
    <li class="sidebar-group">
      <details>
        <summary>模板管理</summary>
        <ul>
          <li><a th:href="@{/templates}">主模板管理</a></li>
          <li sec:authorize="hasAnyRole('SECTION_CHIEF','PROJECT_LEADER')">
            <a th:href="@{/admin/quick-items}">子模板管理</a>
          </li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
</body>
</html>
